<div>
  <main>
    <div>
      {{#with page_header}}
        <h1 class='text-center'>{{title}}</h1>
        <p class='text-center'>{{description}}</p>
      {{/with}}
    </div>

    <div>
      <div class='card'>
        <div class='card-body'>
          {{#with section}}
            {{#with about_us}}
              {{#with title_list}}
                <div
                  class='display-6 text-end'
                >{{main}}</div>
                <h2 class='text-end'>{{sub}}</h2>
                <button class='btn btn-info'>Show more</button>
              {{/with}}
            {{/with}}
          {{/with}}
        </div>
      </div>
    </div>
    <br />

    <div>
        {{#with section}}
    <section>
      <div class='card'>
        <div class='card-body'>
          {{#with advantage}}
            <div class='display-5'>{{title}}</div>
        </div>
      </div>
      <div class='card'>
       <div class='card-body'>
            {{#with efficiency}}
             <div class="display-4">{{title}}</div>
             <h6>{{sub_title}}</h6>
             <p>{{description}}</p>
             <button class="btn btn-warning">{{button}}</button>
            {{/with}}
            <br>

         <div class='card'>
         <div class='card-body'>
               {{#with innovation}}
                <div class="text-center">{{title}}</div>
                <h6 class="text-center">{{sub_title}}</h6>
                <p class="text-center">{{description}}</p>
                <button class="btn btn-warning">{{button}}</button>
               {{/with}}
             </div>
            </div>
            <br>
        <div class='card'>
        <div class='card-body'>
           {{#with collaboration}}
            <div class="display-4 text-end">{{title}}</div>
            <h6 class="text-end">{{sub_title}}</h6>
            <p class="text-end">{{description}}</p>
            <button class=" btn btn-warning">{{button}}</button>
           {{/with}}
            </div>
            </div>
            {{/with}}
        </div> 
    </div>
    </section>
    {{/with}}
    </div>
    <br>

     <div class='card'>
     <div class='card-body'>
      {{#with section.agreement}}
        <div class="display-5">{{title}}</div>
      {{/with}}
     <br>
     <div class='card'>
     <div class='card-body'>
      {{#with section.agreement.info}}
        <h5>{{sub_title}}</h5>
      {{/with}}
      <div class='card'>
     <div class='card-body'>
     {{#with section.agreement.info.detail}}
      <p>{{text}}</p>
      <button class="btn btn-success">{{button}}</button>
     {{/with}}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </main>
</div>